@page
@model WebApp.Pages_GameSave.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameSave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameSave.SaveName" class="control-label"></label>
                <input asp-for="GameSave.SaveName" class="form-control" />
                <span asp-validation-for="GameSave.SaveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSave.GameCurrentPlayerNumber" class="control-label"></label>
                <input asp-for="GameSave.GameCurrentPlayerNumber" class="form-control" />
                <span asp-validation-for="GameSave.GameCurrentPlayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSave.GameMovesNumber" class="control-label"></label>
                <input asp-for="GameSave.GameMovesNumber" class="form-control" />
                <span asp-validation-for="GameSave.GameMovesNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSave.FirstGameBoard" class="control-label"></label>
                <input asp-for="GameSave.FirstGameBoard" class="form-control" />
                <span asp-validation-for="GameSave.FirstGameBoard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSave.SecondGameBoard" class="control-label"></label>
                <input asp-for="GameSave.SecondGameBoard" class="form-control" />
                <span asp-validation-for="GameSave.SecondGameBoard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSave.GameConfigId" class="control-label"></label>
                <select asp-for="GameSave.GameConfigId" class ="form-control" asp-items="ViewBag.GameConfigId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
